 
   nav ul li {
    display: inline-block;
    margin: 30px;
    background-color: yellow;
    border: 1px solid red;
    padding: 10px;
    margin: 25px;
    width:100px;
    display: inline-block;
  
  }

  footer { background-color: black;
    color: whitesmoke;
    }

    img{ width: 600px;
   
    } 
    